:root {
    --font-family: "Inter", sans-serif;
    --second-family: "Poppins", sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1285px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 15px;
    color: #000;
    padding-bottom: 80px;
}

.header__container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header__logo {
    margin-right: 65px;
}

.header__our-services {
    margin-right: 135px;
    padding-top: 8px;
}

.header__our-services::after {
    content: "";
    display: block;
    border-radius: 10px;
    width: 72px;
    height: 2px;
    background: #b00000;
    margin-top: 5px;
    margin-left: 12px;
}

.header__nav {
    display: flex;
    gap: 35px;
}

.header__call {
    padding-left: 200px;
    display: flex;
    gap: 30px
}

.header__call-separator {
    border-left: 1px solid #dad8d8;
    width: 1px;
    height: 19px;
    background: #dad8d8;
}

.header__call-phone, .header__call-phone img {
    vertical-align: middle;
}

.hero__container {
    width: 100%;
    max-width: 1215px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
}

.hero__bread-crunch {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 15px;
    color: rgba(214, 212, 212, 0.88);
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
    width: 245px;
    justify-content: center;
}

.hero__bread-active {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 15px;
    color: #b00000;
}

.hero__title {
    padding-top: 25px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 121%;
    color: #2e2e2e;
    max-width: 610px;
}

.hero__subtitle {
    padding-top: 35px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.05em;
    color: #808080;
    padding-bottom: 60px;
    max-width: 450px;
}

.hero__buttons {
    display: flex;
    gap: 25px;
    text-align: center;
}

.hero__button-create {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #fff;
    border-radius: 8px;
    padding: 12px;
    width: 160px;
    height: 48px;
    box-shadow: 0 0 64px 0 rgba(176, 0, 0, 0.3);
    background: #b00000;
}

.hero__button-choose {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #000;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 12px;
    width: 160px;
    height: 48px;
}

.hero__right-col {
    padding-top: 30px;
    padding-left: 55px;
}

.whyus__container {
    width: 100%;
    max-width: 1285px;
    padding: 0 15px;
    margin: 0 auto;
}

.whyus__top-line {
    padding-top: 80px;
    display: flex;
    gap: 95px;
    justify-content: center;
    padding-bottom: 65px;
}

.whyus__title {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 48px;
    line-height: 133%;
    color: #18191f;
    max-width: 595px;
    white-space: nowrap;
}

.whyus__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: #18191f;
    max-width: 575px;
    padding-top: 45px;
}

.whyus__partners {
    padding-top: 22px;
    max-width: 615px;
    margin: 0 auto;
}

.whyus__partners img {
    padding: 10px;
    text-align: center;
}

.partners__row {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.partners__row img {
    height: auto;
    object-fit: contain;
}

.whyus__bottom-line {
    display: flex;
    gap: 53px;
}

.whyus__advantages {
    text-align: center;
}

.advantages__title {
    padding-top: 10px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    color: #000;
}

.advantages__subtitle {
    padding-top: 5px;
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #000;
}

.pricing {
    padding-top: 133px;
}

.pricing__container {
    width: 100%;
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
}

.pricing__title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
}

.pricing__subtitle {
    padding-top: 40px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    text-align: center;
}

.pricing__dates {
    padding-top: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.pricing__dates p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
}

.pricing__discount {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 10px;
    line-height: 90%;
    border-radius: 8px;
    padding: 7px;
    width: 87px;
    height: 24px;
    background: #ffe87a;
}

.pricing__bread-crunch {
    padding-top: 70px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 30px;
    line-height: 133%;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pricing__bread-active {
    border-bottom: 4px solid #b00000;
    padding-bottom: 5px;
    width: 245px;
}

.pricing__bread-inactive {
    border-bottom: 4px solid #c4c4c4;
    padding-bottom: 5px;
    width: 413px;
}

.pricing__package-choose {
    padding-top: 85px;
    display: flex;
    gap: 100px;
}

.pricing__field {
    border: 1.50px solid #c4c4c4;
    border-radius: 15px;
    width: 299px;
    height: 716px;
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.25);
    display: inline-block;
    padding-left: 35px;
}

.pricing__field-title {
    padding-top: 35px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 89%;
}

.pricing__field-subtitle {
    padding-top: 10px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.pricing__currency {
    padding-top: 30px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 42px;
    line-height: 76%;
}

.pricing__currency-subtitle {
    padding-top: 10px;
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    padding-bottom: 35px;
}

.pricing__field-choose {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 229%;
    border: 2px solid #000;
    border-radius: 12px;
    width: 235px;
    height: 50px;
    padding: 10px;
    text-align: center;
}

.pricing__field-conditions {
    padding-top: 35px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #808080;
}

.pricing__field-conditions li { 
    padding-bottom: 15px;
}

.pricing__field-conditions li:last-child { 
    padding-bottom: 0px;
}

.pricing__field-conditions li::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 13px;
    background-image: url(./images/check.svg);
    background-size: contain;
    margin-right: 27px;
}

.testimonials {
    padding-top: 105px;
}

.testimonials__container {
    width: 100%;
    max-width: 1195px;
    padding: 0 15px;
    margin: 0 auto;
}

.testimonials__stories {

}

.quote__mark {
    position: absolute;
    padding-left: 65px;
}

.testimonials__stories-title {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 48px;
    line-height: 133%;
    color: #18191f;
    padding-top: 55px;
    padding-left: 160px;
}

.testimonials__stories-subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: #18191f;
    padding-top: 10px;
    padding-left: 160px;
}

.testimonials__stories-reviews {
    border-radius: 8px;
    padding-left: 64px;
    padding-right: 32px;
    width: 350px;
    height: 468px;
    box-shadow: 0 10px 20px 0 rgba(41, 41, 42, 0.07);
}

.reviews-1 {
    position: relative;
    left: 255px;
    top: 25px;
}

.cli__small {
    padding-top: 48px;
}

.cli__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

.cli__author {
    padding-top: 25px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    color: #18191f;
}

.cli__post {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: #969bab;
}

.reviews-2 {
    width: 445px;
    height: 340px;
    position: relative;
    left: 635px;
    top: -610px;
}

.jpnl__small {
    padding-top: 48px;
}

.jpnl__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

.jpnl__author {
    padding-top: 25px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    color: #18191f;
}

.jpnl__post {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: #969bab;
}

.reviews-3 {
    width: 350px;
    height: 276px;
    position: relative;
    left: 635px;
    top: -560px;
    margin-bottom: -560px;
}

.lob__small {
    padding-top: 48px;
}

.lob__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

.lob__author {
    padding-top: 25px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    color: #18191f;
}

.lob__post {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: #969bab;
}

.testimonials__partners {
    padding-top: 105px;
    display: flex;
    gap: 250px;
    align-items: center;
}

.testimonials__partners-left-col {

}

.testimonials__partners-title {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 48px;
    line-height: 133%;
    color: #18191f;
}

.testimonials__partners-subtitle {
    padding-top: 10px;
    max-width: 445px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: #18191f;
}

.testimonials__partners-right-col {
}

.testimonials__partners-row {
    display: flex;
    justify-content: center;
}

.testimonials__partners-row1 {
    margin-bottom: 50px;
}

.testimonials__partners-row img {
    height: auto;
    object-fit: contain;
}

.cta {
    padding-top: 105px;
    
}

.cta__container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    border-radius: 16px;
    background: #f7fafe;
    padding-bottom: 90px;
}

.cta__title {
    padding-top: 80px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 64px;
    line-height: 137%;
    text-align: center;
    color: #2e2e2e;
    padding-bottom: 40px;
}

.cta__contact-button {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #fff;
    border-radius: 8px;
    padding: 12px;
    width: 208px;
    height: 48px;
    background: #b00000;
}

.footer {
    background: #B00000;
}

.footer__container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.footer__top {
    display: flex;
    gap: 115px;
    padding-top: 80px;
    padding-bottom: 95px;
}

.footer__section1 {

}

.footer__section1-subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #e6e6e6;
    max-width: 300px;
    padding-top: 15px;
}

.footer__section2 {

}

.footer__service {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.footer li {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #e6e6e6;
}

.footer__section3 {

}

.footer__hosting {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.footer__section4 {

}

.footer__company {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.footer__section5 {

}

.footer__help {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.footer__bottom {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #fff;
    padding-bottom: 80px;
}

